:root {
  --color1: #7541c8;
  --color2: #48556a;
  --color3: #19212e;
  --color4: #ffffff;
  --color5: #cfcfcf;
  --bg-color: #ecf2f8;
  --fonte-lg: 600 2rem "Barlow Semi Condensed", sans-serif;
  --fonte-md: 500 1.3rem/100% "Barlow Semi Condensed", sans-serif;
  --fonte-small: 500 1.1rem/100% "Barlow Semi Condensed", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  background-color: var(--bg-color);
}

img,
picture {
  max-width: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 3rem;
}

.card-all:nth-child(1) {
  grid-area: span 2;
}

.card-all {
  padding: 3.2rem;
  border-radius: .8rem;
}

.card-all.bg-violet {
  background-color: var(--color1);
}

.card-all .profile {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  margin-bottom: 1.8rem;
}

.card-all .profile .profile-image {
  border-radius: 2.8rem;
}

.card-all .profile .name {
  color: var(--color4);
  font: var(--fonte-md);
  margin-bottom: .4rem;
}

.card-all .profile .graduate {
  color: var(--color4);
  font: var(--fonte-small);
  opacity: 0.5;
}

.card-all .about {
  color: var(--color4);
  font: var(--fonte-lg);
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.card-all .about-two {
  color: var(--color5);
  font: var(--fonte-md);
  line-height: 18px; 
  opacity: 0.7;
}
